body {
  background-color: #F8F8F8;
}

.ant-list-lg .ant-list-item {
  padding: 10px 24px;
}

.ant-list .ant-list-item .ant-list-item-meta {
  align-items: center;
  margin-bottom: 0;
  .ant-list-item-meta-avatar {
    margin-top: 4px;
  }
  .ant-list-item-meta-title {
    margin-top: 12px;
  }
}

.ant-skeleton .ant-skeleton-header .ant-skeleton-avatar-lg {
  width: 30px;
  height: 30px;
}
.ant-skeleton-with-avatar .ant-skeleton-content .ant-skeleton-title +.ant-skeleton-paragraph {
  margin-block-start: 16px;
  & > :nth-child(2) {
    display: none;
  }
}