.metaTitle {
  font-size: 16px;
  a {
    font-size: 14px;
  }
}
.content {
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  .commitedBy {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}